
.NavBar{
    background-color:white;
    /* border-bottom: 3px solid #790505; */
    height:9em;
    /* width:82em; */
    /* width:100%; */
    
    
}

    

.options{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color:#012637 !important;
    padding: 1em 1.2em !important;
}
.options:hover{
    box-shadow: 1px 1px 1px #7aaec5 ;
    background-color: #7aaec5 ;
}
.options1{
    
    padding: 1em 1.2em !important;
    position: relative;
    bottom:0.35em;
    
}


#basic-nav-dropdown{
    color:#012637 ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}



.dropdown{
    color:#012637 !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font-size: larger; 
}
.dropdown:hover{
    box-shadow: 1px 3px 5px #7aaec5 ;
    background-color: #7aaec5;
}
.search{
    border:2px solid #012637 !important;
    height: 2em;
    width:15em !important; 
}


.lang{
    padding-left: 2em;
}



